@keyframes slideup {
  from {
    margin-top: 100%;
    opacity: 0;
  }

  to {
    margin-top: 0%;
    opacity: 1;
  }
}

.ReactModal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  overflow: 'auto';
  outline: 'none';
  border: none;
  z-index: 2;
  animation-duration: 0.5s;
  animation-name: slideup;
}

@keyframes slidedown {
  from {
    margin-top: 0%;
    opacity: 1;
  }

  to {
    margin-top: 100%;
    opacity: 0;
  }
}

.ModalLeave {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  overflow: 'auto';
  outline: 'none';
  z-index: 2;
  animation-duration: 0.5s;
  animation-name: slidedown;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}